<div id="data-table">
   <div *ngIf="data.length > 0" class="table-wrapper">
     <div>
        <table style="width:800px;" [resRowsOnPage]="rowsPerPage" [resTableData]="data" #resdata="resTable">
              <thead>
                <tr>
                  <th *ngFor="let head of dataHeaders">
                    <div>{{head}}</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resdata.data" (click)="postRowDetails(item)">
                  <td *ngFor="let key of dataHeaders">
                    <div>{{item[key]}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
          <div class="table-footer">
            <footer *ngIf="showPagination">
              <app-res-paginator [resTable] ="resdata" [selctedRows]="rowsPerPage" [rowsOnPageSet]="dropDrowRowsItems"></app-res-paginator>
          </footer>
        </div>
    </div>
   
</div>