table, td , th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
}

th {
    background: white;
    position: sticky;
    top: 0;
  }

#data-table {
    position: relative;
    height: 950px;

    .table-wrapper{

        width: 85%;
        max-height: 890px;
        overflow: scroll;
        font-family: Arial, Helvetica, sans-serif;

        table, td , th {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        table {
            text-align: left;
            position: relative;
            
        }
        
        th {
            background: white;
            position: sticky;
            top: 0;
          }
    
        tbody {
           overflow-y:scroll;
           max-height: 500px;
        }
    
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color:white
        }

        footer {
            position: fixed;
            overflow-x: hidden;
        }
    
        tfoot tr  {
            height: 0;
            line-height: 0;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            color: transparent;
            border: none;
            width:100%;
            white-space: nowrap;
          }
    }
    .table-footer {
        position: absolute;
        bottom: 0;
    }
}

