app-paginator {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.pagination {
    display: inline-block;
    padding: 0px;
    list-style: none;
    .page-item {
        color: black;
        padding: 8px 16px;
        float: left;
        text-decoration: none;
    }

    .page-item.active {
            border: 1px solid black; 
            background-color: #4CAF50;
            color: white;
    }

    .page-item a:hover:not(:active) {
        background-color: #ddd;
    }

    .page-item::after {
        content: "";
        clear: both;
        display: table;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  