<div class="container">
  <nav>
      <a routerLink="/simple-data-table" routerLinkActive="active">Simple Data Table</a> |
      <a routerLink="/table-with-pagination">Advance Data Table</a>
  </nav>
  <router-outlet></router-outlet>
</div>
