<div class="dropdown">
  <label>
    Select Number of Rows
  </label>
  <select [(ngModel)]="selectedValue" (change)="onSelectionChanged()">
    <option value="0">--All--</option>
    <option *ngFor="let item of dropDownListItems" value={{item}}>
      {{item}}
    </option>
  </select>
</div>

